<div class="alert alert-success alert-dismissible fade show" role="alert" [style.display] = "displayAlert">
    <strong>Order is placed  successfully. You can see your orders in the "My Orders"</strong>
    <button type="button" (click) = "onCloseAlert()" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container-fluid mt-5 ml-4">
    <h3 style="font-weight: bold;">Order Details</h3>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>
                        Product Image
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price (in Rs.)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let p of products">
                    <td style="display: none;">{{ p.id }}</td>
                    <td><img src="{{ p.imagePath }}" alt="{{ p.name }}" width="100"  height="100"></td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category }}</td>
                    <td>{{ p.price }}</td>
                </tr>
                <tr><h5>Order Total (in Rs.) : {{ orderTotal }}</h5></tr>
                <tr><h5>Balance (in Rs.) : {{ walletBalance}}</h5></tr>
            </tbody>
        </table>

        <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm)" class="mt-5">
            <div class="row">
                <!--  Email -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label style="font-weight:700;" for="email">Email</label>
                        <input type="text" class="form-control" name="email" formControlName="email"
                            id="email" aria-describedby="emailHelp" required>
                    </div>
                </div>
                </div>
                <!-- Address -->
                <div class="form-row">
                   <div class="col-sm-6">
                    <div class="form-group">
                        <label style="font-weight:700;" for="address">Address</label>
                        <input type="text" class="form-control" name="address" formControlName="address"
                            id="address" aria-describedby="addressHelp" required>
                    </div>
                   </div>
                </div>

                <!-- Phone Number -->
                <div class="form-row">
                   <div class="col-sm-6">
                       <div class="form-group">
                           <label style="font-weight:700;" for="role">Phone Number</label>
                           <input type="text" class="form-control" name="phoneno" formControlName="phoneno"
                            id="phoneno" aria-describedby="phonenoHelp" required>
                       </div>
                   </div>
               </div>
            <button type="submit" class="btn btn-primary btn-md" >Confirm Order</button>
        </form>
</div>
